.table {
  border-collapse: collapse;
  width: 100%;

  &__heading {
    background-color: darkslategray;
    color: #ffffff;
    padding: 5px;
  }

  &__row {
    &:nth-child(even) {
      background-color: lightgray;
    }
  }
}
